body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url('papers.jpg')
}

h1,button,h4 {
  color: white;
  font-family: 'roboto', cursive;
}

p{
  font-family: 'roboto', cursive;
}

img{
  width:300px;
  height: 300px
}


